body {
  font-family: "Roboto", sans-serif;
  background-color: antiquewhite;
  font-size: 18px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 40px;
  background-color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 3px inset rgb(148, 223, 185);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 40px;
}

label {
  margin-bottom: 8px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #49875b;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #4cdb75;
}

.save-button{
  display: block;
  margin:0 auto;
  width: 300px;
  background-color: #49875b;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

th,
td {
  padding: 8px;
  text-align: center; 
  border: 1px solid green;
  background-color: #fafff9;
  font-size: 16px;
}

th {
	font-weight: bold;
  background: #d6f3ce;
}


#total-cost{
  margin-bottom: 40px;
}

#total-cost:hover{
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 8px;
  }

  table {
    font-size: 12px;
  }

  button {
    font-size: 12px;
  }
}